* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Majestic";
  src: url("../fonts/Majestic.ttf");
}

@font-face {
  font-family: sans-serif ;

}

h1 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: white;
}

body{
    background-color: #bfae9f;
}

main{
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: #a8ad97;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

div {
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    background-color: #000000;
    margin: 20px;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}

div:hover {
  transform: rotate(3deg) scale(1.07);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
}

.photo1 {
    background-image: url(../img/imageb.webp);
}

.photo2 {
    background-image: url(../img/imagen.jpg);
}

.photo3 {
    background-image: url(../img/image2.jpg);
}

.photo4 {
    background-image: url(../img/imaget.jpeg);
}

.photo5 {
    background-image: url(../img/download1.jpeg);
}

.photo6 {
    background-image: url(../img/imagef.jpeg);
}

.photo7 {
    background-image: url(../img/qatar.jpeg);
}

.photo8 {
    background-image: url(../img/qatarr.jpeg);
}

.photo9 {
    background-image: url(../img/imagem.jpeg);
}

.photo10 {
    background-image: url(../img/imager.jpeg);
}

.photo11 {
    background-image: url(../img/imageh.jpg);
}

.photo12 {
    background-image: url(../img/imagec.jpeg);
}