* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: sans-serif;

}

html, body, main {
	height: 100%;
	font-family: sans-serif;
}

.first{
    height: 100%;
    background-image: url(../img/img1.jpg);
    background-position:center;
    -webkit-background-size: cover;
	background-size: cover;
}

.first p {

}

.tourism {
	width: 100%;
	text-align: center;
	padding-top: 80px;
	font-size: 25px;
	color: white;
}

.text-container {
     margin-left: 12.5%;
     margin-top: 250px;
     width: 50%;
     font-size: 25px;

}

.first-line{
    font-size: 30px;
    color: #c1c7c9;
    font-weight:500;
}

.second-line{
    font-size: 55px;
    color: white;
    font-weight:700;
}

.third-line{
    font-size: 22px;
    color: white;

}

.container second{
    background-color: white;

}

.img-container{
     margin-left: 20%;
     margin-top: 45px;
     width: 45%;
     font-size: 25px;

}

.img1{
    height: auto;
    max-width: 65%;

 }

.wrapper{
    margin-left: 68%;
    margin-top: -422.5px;
    width: 100%;
    font-weight:900;
}

.gallery-text{
    font-size: 50px;
    color: black;
    font-weight:500;
    margin-left: 20%;
    margin-top: 150px;
    width: 100%;
    font-weight:700;
}

.gallery-p{
    font-size: 18.5px;
    color: black;
    font-weight:500;
    margin-left: 19%;
    margin-top: -45px;
    width: 100%;
    font-weight:600;
    padding-top: 5px;
}

.img3{
   padding-top: 5px;
}